<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meronepal2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RefreshmentAndEntertainment"
            android:label="@string/refreshment_and_entertainment"></activity>
        <activity android:name=".NaturalPlaces"
            android:label="@string/natural_places"/>
        <activity
            android:name=".HistoricalPlaces"
            android:label="@string/title_activity_historical_places"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>